syllabus/syllabus.aux
syllabus/syllabus.log
syllabus/syllabus.out
syllabus/syllabus.synctex.gz

Topic1-Intro/T1-Intro.log
Topic1-Intro/T1-Intro.synctex.gz
Topic1-Intro/T1-Intro.aux
Topic1-Intro/T1-Intro.nav
Topic1-Intro/T1-Intro.out
Topic1-Intro/T1-Intro.snm
Topic1-Intro/T1-Intro.toc

Topic2-MajorInternational/references/
Topic2-MajorInternational/T2-MajorInternational.aux
Topic2-MajorInternational/T2-MajorInternational.log
Topic2-MajorInternational/T2-MajorInternational.nav
Topic2-MajorInternational/T2-MajorInternational.out
Topic2-MajorInternational/T2-MajorInternational.snm
Topic2-MajorInternational/T2-MajorInternational.synctex.gz
Topic2-MajorInternational/T2-MajorInternational.toc

